@import "@/styles/main";

.container {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows $transition-default;

  &.expanded {
    grid-template-rows: 1fr;
  }

  .recipe {
    overflow: hidden;
    max-width: map-get($map: $breakpoints, $key: "laptop-m");

    // Prevent box-shadow clipping
    padding: $spacing-m;
    margin: -$spacing-m;

    article {
      display: flex;
      flex-direction: column;
      gap: $spacing-l;

      @include media(">laptop-s") {
        display: grid;
        grid-template-columns: 1fr 2fr;

        .details,
        .tags {
          grid-column: span 2;
        }
      }

      section {
        width: 100%;
      }

      .details {
        display: grid;
        grid-template-columns: 1fr 2fr;
        column-gap: $spacing-m;

        > div {
          display: flex;
          flex-direction: column;
          row-gap: $spacing-m;
        }

        img {
          width: 100%;
          object-fit: cover;
          border-radius: $border-radius_xs;
        }

        h2 {
          text-wrap: balance;
        }

        .actions {
          display: flex;
          column-gap: $spacing-s;
        }

        @include media("<laptop-s") {
          grid-template-columns: 1fr;
          row-gap: $spacing-m;

          h2 {
            text-align: center;
          }

          img {
            width: 100%;
          }
        }
      }

      .ingredients {
        display: flex;
        justify-content: space-between;

        > div {
          display: flex;
          align-items: center;
          column-gap: $spacing-s;
        }
      }

      ol,
      ul {
        padding: 0 $spacing-l;

        li {
          margin: 0;
          padding: 0;

          &:not(:last-of-type) {
            margin-bottom: $spacing-s;
          }
        }
      }

      .list {
        row-gap: $spacing-m;
        display: flex;
        flex-direction: column;
      }

      .tags {
        display: flex;
        gap: $spacing-xs;
        flex-wrap: wrap;
      }
    }
  }
}
