@import "@/styles/main";

.container {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows $transition-default;

  &.expanded {
    grid-template-rows: 1fr;
  }

  .recipe {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;

    > article {
      display: flex;
      flex-direction: column;
      row-gap: $spacing-l;

      h3 {
        text-wrap: balance;
      }

      > section {
        h4 {
          margin-bottom: $spacing-s;
        }
      }
    }
  }

  ol,
  ul {
    padding: 0 1rem;
    margin: 0 1rem;
  }

  .tags {
    display: flex;
    gap: $spacing-xs;
    flex-wrap: wrap;
  }
}
