@use "@/styles/main" as *;

.input {
  padding: $spacing-s;
  background-color: $color_white;
  border: $border-light;
  border-radius: $border-radius_xs;
  color: inherit;

  &:focus {
    outline: none;
  }
}
