@use "@/styles/main" as *;
@use "sass:map";

.container {
  width: 100%;
  max-width: map.get($map: $breakpoints, $key: "tablet");
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $color_white;
  border-radius: 26px;
  padding: $spacing-xs $spacing-s $spacing-xs $spacing-m;
  column-gap: $spacing-xs;

  input {
    background-color: inherit;
    padding: 0;
    border: none;
    overflow: hidden;
    width: 100%;
    color: $text_regular;
    word-wrap: none;
    text-overflow: ellipsis;

    &:focus {
      outline: none;
    }

    @include media("<laptop-s") {
      // Crapple
      font-size: 16px;
    }
  }

  .spinner {
    height: 1.5rem;
    width: 1.5rem;
  }

  .mounted {
    .spinner {
      animation: leave 0.1s ease-in forwards;
    }

    .icon {
      animation: enter 0.1s ease-in forwards;
    }
  }

  .loading {
    .spinner {
      animation: enter 0.1s ease-in forwards;
    }

    .icon {
      animation: leave 0.1s ease-in forwards;
    }
  }
}

@keyframes enter {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes leave {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
