@use "@/styles/main" as *;

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  -webkit-tap-highlight-color: transparent;
  background-color: $color_primary;
  border: solid 2px $color_primary;
  transition: $transition-default;
  padding: $spacing-s;
  height: fit-content;

  &:active:not(:disabled) {
    transform: scale(0.95);
  }

  &:hover {
    cursor: pointer;
  }

  &:disabled {
    cursor: initial;
    filter: grayscale(0.75);
  }
}

.text {
  border-radius: $border-radius_xs;
  border: solid 2px $color_primary;
  color: $color_secondary;
}

.outlined {
  border-radius: $border-radius_xs;
  border: solid 2px $color_primary;
  background-color: transparent;
  color: $color_primary;
}

.icon {
  border-radius: 50%;
}

.transparent {
  background-color: transparent;
  border: none;
  border-radius: 50%;

  &:hover {
    background-color: $color_primary;

    svg {
      stroke: $color_secondary;
    }
  }
}

.spinner {
  animation: leave 0.1s ease-in both;
  height: 1.5rem;
  width: 1.5rem;
}

@keyframes enter {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
