@use "@/styles/main" as *;

.container {
  width: 100%;
  padding: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;

  .image {
    width: 100%;
    height: min(300px, 10lvh);

    @include media("<laptop-s") {
      height: min(300px, 15lvh);
    }
  }

  .details {
    display: flex;
    align-items: center;
    padding: $spacing-s;

    h4 {
      text-overflow: ellipsis;
      text-wrap: nowrap;
      word-wrap: none;
      overflow: hidden;
      flex: 1;
      margin: 0;
    }

    .moreButton {
      &:hover {
        svg {
          stroke: $color_secondary;
        }
      }
    }
  }
}

.tooltipItem {
  display: flex;
  align-items: center;
  column-gap: $spacing-xs;
}
