@use "@/styles/main" as *;

.textArea {
  resize: none;
  height: auto;
  width: 100%;
  padding: $spacing-s-m;
  background-color: $color_white;
  // border: $border-light;
  border: none;
  border-radius: $border-radius_xs;
  color: inherit;

  &:focus {
    outline-color: $color_primary;
  }
}
