@use "@/styles/main" as *;

.main {
  display: flex;
  flex-direction: column;
  row-gap: $spacing-l;
  align-items: center;

  h1 {
    text-align: left;
  }

  .recipes {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: $spacing-m;
    width: 100%;

    @include media("<laptop-s") {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
