@use "@/styles/main" as *;

.icon {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  svg {
    height: 100%;
    width: 100%;
    stroke-width: 1;
  }
}

.s {
  height: 1rem;
  width: 1rem;
}

.m {
  height: 1.5rem;
  width: 1.5rem;
}

.l {
  height: 5rem;
  width: 5rem;
}

.solid {
  background-color: $color_primary;

  svg {
    stroke: #fdffe6;
  }
}

.transparent {
  background-color: transparent;
}

.outlined {
  border: solid 1px $color_primary;
}

.solid,
.transparent {
  border: none;
}

.outlined,
.solid {
  border-radius: 50%;
}

.outlined,
.transparent {
  svg {
    stroke: $color_primary;
  }
}
