@import "@/styles/main";

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding: $spacing-l;
  justify-content: center;
  height: 100%;

  .card {
    display: flex;
    flex-direction: column;
    padding: $spacing-l;
    width: 100%;
    max-width: map-get($map: $breakpoints, $key: "laptop-s");
    transform: translateY(-25vh);
    transition: transform $transition-default;

    &.hasContent {
      transform: translateY(0);
      row-gap: $spacing-l;
    }
  }
}
