@use "@/styles/main" as *;

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: auto;
  width: 100%;
  margin: auto 0;
  align-items: center;
  transform: translateY(-5vh);
  transition: transform $transition-timing-function-default 0.4s;

  &.hasContent {
    transform: translateY(0);
    row-gap: $spacing-l;
  }
}
