@import "@/styles/main";

.main {
  align-content: center;
  padding: 0 $spacing-l $spacing-l $spacing-l;
  height: auto;
  margin: auto 0;

  .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    transform: translateY(-5vh);
    transition: transform $transition-timing-function-default 0.4s;

    &.hasContent {
      transform: translateY(0);
      row-gap: $spacing-l;
    }
  }
}
