@import "@/styles/main";

.main {
  display: flex;
  flex-direction: column;
  padding: $spacing-l;
  justify-content: center;
  align-items: center;

  @include media("<laptop-m") {
    margin-top: 50px;
  }

  .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    transform: translateY(-5vh);
    transition: transform $transition-timing-function-default 0.4s;

    &.hasContent {
      transform: translateY(0);
      row-gap: $spacing-l;
    }
  }
}
