@import "@/styles/main";

.header {
  display: flex;
  justify-content: flex-end;
  column-gap: $spacing-m;
  width: 100%;
  margin-bottom: $spacing-l;

  .link {
    transition: $transition-default;
    padding: $spacing-xs;
    border-bottom: solid 1px transparent;

    &:hover {
      border-bottom: solid 1px $color_primary;
    }
  }
}
