@use "@/styles/main" as *;

$offset: 20px;

.tooltip {
  position: absolute;
  box-shadow: $shadow_float-sticky;
  background-color: $color_white;
  border-radius: $border-radius_xs;
  animation-name: appear;
  animation-duration: $transition-duration-default;
  animation-timing-function: linear;
  animation-fill-mode: forwards;

  &::before {
    position: absolute;
    z-index: 1;
    box-shadow: $shadow_float-sticky;
    content: "";
    width: 10px;
    height: 10px;
    background-color: $color_white;
    transform: translateX(-50%) rotate(45deg);
  }

  &.bottom {
    &.left {
      transform: translate(-80%, $offset);

      &::before {
        top: -5px;
        left: 80%;
      }
    }

    &.right {
      transform: translate(-20%, $offset);

      &::before {
        top: -5px;
        left: 20%;
      }
    }
  }

  &.top {
    &.left {
      transform: translate(-80%, calc(-100% - $offset));

      &::before {
        top: calc(100% - 5px);
        left: 80%;
      }
    }

    &.right {
      transform: translate(-20%, calc(-100% - $offset));

      &::before {
        top: calc(100% - 5px);
        left: 20%;
      }
    }
  }

  ul {
    overflow: hidden;
    position: relative;
    z-index: 2;
    border-radius: $border-radius_xs;
    background-color: $color_white;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      padding: $spacing-xs $spacing-m;
      width: 100%;
      max-width: min(200px, 50vw);
      min-width: min(100px, 25vw);
      text-overflow: ellipsis;
      text-wrap: nowrap;
      word-wrap: none;
      overflow: hidden;
      cursor: default;
      display: flex;
      align-items: center;
      column-gap: $spacing-xs;

      &:first-of-type {
        padding-top: $spacing-s;
      }

      &:last-of-type {
        padding-bottom: $spacing-s;
      }

      &:hover {
        background-color: $color_gray_extra-light;
      }
    }
  }
}

@keyframes appear {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
