@use "@/styles/main" as *;

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: $spacing-xs;
  border: $border-light;
  border-radius: $border-radius_small;

  input {
    width: 100%;
  }

  input,
  textarea {
    padding: $spacing-s-m;
    border: none;
    border-radius: $border-radius_small;
    flex: 1;
    background-color: $color_white;
    color: inherit;
  }

  textarea {
    resize: none;
    height: auto;
    max-width: 80ch;
  }
}
